!!!
%html{lang: "ja"}
 %head
  %meta{charset: "utf-8"}
 %body
  %div.wrapper

  .chat-box
    .login-header
      .login-header__box
        %p{class: "login-header__box__user-name"}
          =current_user.name
            %ul{class: "login-header__box__menu"}
              %li{class: "login-heder__box__menu__edit-user"}
                = link_to new_group_path do
                  %i.fa.fa-users.fa-lg
              %li{class: "login-heder__box__menu__new-group"}
                =link_to edit_user_registration_path(current_user) do
                  %i.fa.fa-cog.fa-lg

    .groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__box
              %p.group__name
                = group.name
              %p.group__comment
                = group.show_last_message

   %div.chat-main
    %div.main-header
    %div.messages
    %div.form
