$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$dark-blue: #253141;
$blue: #2f3e51;
$chat-body: #434A54;
$back: #AAAAAA;
