
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.wrapper {
  margin: 0;
  padding: 0;
  // height: 100vh;

  .chat {
    width: calc(100vw - 315px);
    float: left;
      &__header {
        height: 99px;
        border-bottom: solid 1px #eee;
        padding: 0 40px;
        display: fixed;
      }
      &__messages {
        height: calc(100vh - 289px);
        background-color: #fafafa;
        overflow: scroll;
        padding: 46px 40px;
      }
      &__form {
        height: 90px;
        background-color: #ddd;
        // padding: 20px 40px;
      }
    }
  }
