
.chat-group-form {
  width: 990px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 60px auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  &__field.content {
    margin-top: 30px;
  }
  .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    &__name {
      float: left;
    }
    &__btn {
      float: right;
      display: inline-block;
      cursor: pointer;
      &--add {
        color: #38aef0;
      }
      &--remove {
        color: #f05050;
      }
    }
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
    cursor: pointer;
  }
}
